body{
    background-color: antiquewhite;
}
#imagem{
    width: 50%;
    display: block;
    margin: 0 auto;
}
h1{
    font-size: 30px;   /* tamanho do texto*/
    color: blueviolet;
    text-align: center;
}